.menu-item {
    text-align: center;
  
    color: white;
  
    padding: 1rem 0;
  }
  
  .menu-item-header {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  
    margin-bottom: 0.5rem;
  }
  
  .menu-item-header h3 {
    font-weight: 400;
  }
  
  .menu-item p {
    font-style: italic;
  }