:root {
  --primary-color: #014604;
  --restaurant-color: #3c5539;
  --snackhoek-color: #f7c003;

  --font-primary: "Poppins", sans-serif;

  --background-color: #f5f5f5;
  --text-color: #014604;

  /* ==========================
   FONTS
========================== */

  --font-primary: "Poppins", sans-serif;
  --font-restaurant: "Cormorant Garamond", serif;
  --font-snackhoek: "Montserrat", sans-serif;
  --font-park: "Poppins", sans-serif;

  /* ==========================
   SNACKHOEK
========================== */

  --snack-primary: #f28c28;
  --snack-secondary: #f6b25d;
  --snack-light: #fff4e8;
  --snack-card: #ffe6c7;
  --snack-text: #2f2f2f;

  /* ==========================
   ALGEMEEN
========================== */

  --radius-large: 24px;
  --radius-medium: 18px;
  --radius-small: 12px;

  --shadow-card: 0 6px 18px rgba(0, 0, 0, 0.15);

  --transition: 0.25s ease;
}
